@import "colors";

.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.event-date {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  line-height: normal;

  .event-day {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .event-month {
    text-transform: uppercase;
    font-family: "Rockwell Nova", "Merriweather", Georgia, serif;
    text-size-adjust: none;
  }
}

.calendar-error {
  background: $light-blue;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 1rem;

  .error {
    margin-top: 1rem;
    font-family: monospace;
  }
}
