$color-ea-primary: #0c869b;
$color-ea-dark: #054d5a;
$color-ea-light: #35bbd2;
$color-ea-beige: #f4efe9;

$color-ea-muted-blue: #598f98;
$color-ea-muted-green: #8fca9e;
$color-ea-muted-yellow: #f9e8a0;
$color-ea-muted-red: #f9a8a8;
$color-ea-muted-purple: #995b7b;

$light-blue: #cbe5e9;
$gray: #ccc;
$white: #fff;
