@import "colors";

::placeholder {
  color: $gray;
}

::-ms-input-placeholder {
  color: $gray;
}

label {
  display: block;
  font-size: 1.5rem;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $gray;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  font-size: 2rem;
}

textarea {
  min-height: 250px;
}

input[type="submit"] {
  display: block;
}

input[type="submit"],
.btn {
  padding: 12px 24px;
  margin: 0;
  background-color: $color-ea-primary;
  border: none;
  border-bottom: 1px solid $color-ea-dark;
  font-size: 2rem;
  color: $white;
  cursor: pointer;
  transition: color 0.1s ease-in-out, border 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:hover {
    background-color: $color-ea-light;
    border-bottom: 1px solid $color-ea-primary;
  }
}
