@import "colors";

@font-face {
  font-family: "Rockwell Nova";
  src: url("../assets/fonts/RockwellNova/rockwellnova-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/RockwellNova/rockwellnova-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rockwell Nova";
  src: url("../assets/fonts/RockwellNova/rockwellnova-bold-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/RockwellNova/rockwellnova-bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

$font-sans: "Cabin", "Aller", "Merriweather", "Ubuntu", sans-serif;
$font-slab: "Rockwell Nova", "Roboto Slab", "Merriweather", Georgia, serif;

html {
  font-size: 9px;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: $mobile-break) {
    font-size: 10px;
  }
}

body {
  line-height: 1.75;
  font-size: 2em;
}

body,
input,
textarea {
  font-family: $font-sans;
  color: $color-ea-dark;
  text-rendering: geometricPrecision;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-slab;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5;

  &:not(:first-child) {
    margin-top: 2.2em;
  }
}

h1 {
  font-size: 6.5rem;
  line-height: 80px;
  margin: 0 -10px 0 0;

  @media (min-width: $mobile-break) {
    line-height: 100px;
    font-size: 8rem;
  }
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2.3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 2rem;
}

a {
  color: $color-ea-primary;
  transition: color 0.2s ease;
  text-decoration: none;

  &:hover {
    color: $color-ea-light;
  }
}
